<nav id="mainNav" class="navbar navbar-expand-md navbar-shrink py-3 navbar-light">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/"><span>IsetR SF</span></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <a class="nav-link" href="/">Accueil</a>
                <a class="nav-link" href="/formations">Formations</a>                
            </ul>
            <ul class="navbar-nav mx-auto"></ul>
                <a class="btn btn-primary shadow me-3" role="button" href="/EspaceCandidats">Espace Candidats</a>
                <a class="btn btn-primary shadow" role="button" href="/EspaceFormateurs">Espace Formateurs</a>
        </div>
    </div>
</nav>