<p>navbar works!</p>
<nav id="mainNav" class="navbar navbar-expand-md fixed-top navbar-shrink py-3 navbar-light">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span>IsetR SF</span></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="features.html">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="integrations.html">Integrations</a></li>
                <li class="nav-item"><a class="nav-link" href="contacts.html">Contacts</a></li>
                <li class="nav-item"><a class="nav-link" href="login.html">Log in</a></li>
                <li class="nav-item"><a class="nav-link" href="signup.html">Sign up</a></li>
            </ul><a class="btn btn-primary shadow me-3" role="button" href="signup.html">Sign up</a><a class="btn btn-primary shadow" role="button" href="signup.html">Sign up</a>
        </div>
    </div>
</nav>